* {
    background-color: #A40E4C;
    padding: 0;
    margin: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

label.logo {
    color: rgb(235, 149, 37);
    font-size: 55px;
    line-height: 100px;
    margin-left: 100px;
    padding: 4px;
    font-weight: lighter;
    overflow: hidden;
    
}


/*  Navigation Bar */

nav {
    height: 80px;
    width: 100%;
    flex-wrap: nowrap;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 20px;
    margin-top: -60px;

}

nav ul li {
    float: right;
    padding-top: 0px;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 6px 15px;
    text-decoration: none;   
}

nav ul li a:hover {
    background: rgb(212, 133, 182);
}

.active {
    background-color: mediumaquamarine;
}

div {
    margin-left: 50vh;
    padding-bottom: 20vh;
}

div p {
    margin-right: 15vh;
}