* {
    background-color: #A40E4C;
    padding: 0;
    margin: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aliceblue;
    font-family: monospace;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 25px;
    padding-left: 25px;
    
}

/*  Navigation Bar */
#main_nav {
    position: absolute; 
    right: 30px; 
    top: 40px;
    list-style-type: none;
}

#main_nav li {
    float: left;
    margin: left;
    margin-right: 20px;
}

#main_nav li a {
    font-size: 16px;
    background-color:#A40E4C;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    
}

#main_nav li a.active{
    background-color:rgb(241, 179, 98);
}

#main_nav li a:hover {
    background-color:darkkhaki;
}



div {
    margin-left: 50vh;
    padding-bottom: 20vh;
}

div p {
    margin-right: 15vh;
}